<div data-layout="row" data-layout-padding data-ng-cloak>
	<div flex data-ng-init="getCategories()">
		<form name="colorForm" data-ng-submit="saveProduct()">
			<md-input-container class="md-block">
				<label for="productName">Название товара</label>
				<input type="text" id="productName" data-ng-model="productName" required>
			</md-input-container>	
			<md-input-container class="md-block">
				<label for="productPrice">Цена товара</label>
				<input type="text" id="productPrice" data-ng-model="productPrice" required>
			</md-input-container>
			<md-input-container class="md-block">
				<label for="productDesc">Описание товара</label>
				<textarea id="productDesc" data-ng-model="productDesc" required></textarea>
			</md-input-container>	
			<md-input-container class="md-block">
				<label for="productCats">Категории товара</label>
				<md-select data-ng-model="productCats" multiple>
					<md-option data-ng-repeat="category in categories" data-ng-value="category.id">
						{{category.name}}
					</md-option>
				</md-select>
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary">Сохранить</md-button>
		</form>
	</div>
</div>