<div layout="row" layout-padding ng-cloak>
    <div flex>
        <h1>{{pageName}}</h1>
    </div>
</div>

<div layout="row" layout-sm="column" layout-align="space-around" ng-if="!products.length && !hideProgress">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

  <div layout="row" layout-wrap="" ng-if="products.length" infinite-scroll="getProducts()" infinite-scroll-distance="2">
    <div flex=30 ng-repeat="product in products">
        <md-card>
            <img ng-src="{{product.images[0].src}}" class="md-card-image">
            <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">{{product.name}}</span>
                  <span class="md-subhead">{{product.price}} &#8381;</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-button ng-click="deleteProduct(product.id)">Удалить товар</md-button>
              </md-card-actions>
            <md-card-content>
              {{product.short_description | removeTags}}
            </md-card-content>
          </md-card>
    </div>  
  </div>  